* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    background-color: black;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    border: 1px bold  lightgrey;
}

.nav-items>ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    color: aliceblue;
}

.nav-items>ul>li {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.res-card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgb(187, 36, 13); */
}

.res-card:hover {
    border: 1px solid lightgrey;
    cursor: pointer;
}
.res-card h3,h4 {
    padding: 3px;
    margin: 2px;
}

.ratings {
    background-color: rgb(78, 193, 78);
    padding: 3px;
    color: white;
    border-radius: 2px;
    /* display: inline-block;
    margin-right:12px ; */
}
.rating-price {
    display: flex;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    border-radius: 20px;
}

.filter-btn {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 5px;
}