* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.logo {
    width: 75px;
    padding: 10px;
}

.nav-items>ul {
    display: flex;
    list-style: none;
    font-size: 20px;
}

.nav-items>ul>li {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.res-card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightcyan;
}

.res-card:hover {
    border: 1px solid lightgrey;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    border-radius: 20px;
}