* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    background-color: black;
}

.logo {
    /* width: 100px;
    height: 100px; */
    padding: 10px;
    /* border-radius: 50%; */
    border: 1px bold  lightgrey;
}

.nav-items>ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    color: aliceblue;
}

.nav-items>ul>li {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.nav-items a {
    color: white ;          /* always white */
    text-decoration: none   /* no underline */
}

.nav-items a:visited,
.nav-items a:hover,
.nav-items a:active {
    color: white ;          /* stay white in every state */
    text-decoration: none ;  /* no underline ever */
}


.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.res-card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgb(187, 36, 13); */
}

.res-card:hover {
    border: 1px solid lightgrey;
    cursor: pointer;
}
.res-card h3,h4 {
    padding: 3px;
    margin: 2px;
}

.ratings {
    background-color: rgb(78, 193, 78);
    padding: 3px;
    color: white;
    border-radius: 2px;
    /* display: inline-block;
    margin-right:12px ; */
}
.rating-price {
    display: flex;
}

.search {
    padding: 10px;
}
.search>button {
   border: none;
   background-color: white;
}
.search-icon {
    height: 30px;
    width: 30px;
}

.res-logo {
    max-height: 200px;
    width: 100%;
    border-radius: 20px;
}
.filter {
    display: flex;
}
.search-box {
     font-size: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 5px;
}

.filter-btn {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 5px;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.shimmer-card {
    width: 250px;
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    background: #f0f0f0;
    animation: shimmer-bg 1.5s infinite linear;
}

.shimmer-img {
    width: 100%;
    height: 150px;
    background: #e0e0e0;
    border-radius: 10px;
}

.shimmer-line {
    height: 15px;
    background: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
}

.shimmer-line.short {
    width: 40%;
}

.shimmer-line.medium {
    width: 70%;
}

.shimmer-line.long {
    width: 90%;
}
.login {
    padding: 0 20px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}






























@keyframes shimmer-bg {
    0% {
        background-color: #eeeeee;
    }
    50% {
        background-color: #dddddd;
    }
    100% {
        background-color: #eeeeee;
    }
}